<h1>Lista de Alunos</h1>

<table>
<tr>
    <th>ID</th>
    <th>NOME</th>
    <th>TELEFONE</th>
    <th>EMAIL</th>
    <th>NOTA</th>
    <th>SITUAÇÃO</th>
</tr>
{{#each alunos}}
<tr>
    <th>{{id}}</th>
    <th>{{nome}}</th>
    <th>{{telefone}}</th>
    <th>{{email}}</th>
    <th>{{nota}}</th>
    <th>{{situacao}}</th>
</tr>
{{/each}}
</table>

<button><a href="aluno/cadastrar">Novo Aluno</a></button>